body
{
    background: rgb(121,9,45);
    background: linear-gradient(90deg, rgba(121,9,45,1) 11%, rgba(0,176,255,1) 100%);
}

h2
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.header
{
    width: 550px;
    height: 120px;
    margin-top: 15px;
    border-radius: 5px;
}

.icons
{
    font-size: 25px;
}

#result, #camera
{
    border-style: dashed;
    border-width: 2px;
    border-color: white;
    width: 355px;
    height: 225px;
}

label
{
    color: rgb(131, 198, 30);
    background-color: white;
    border-style: none;
    border-radius: 5px;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
         
button {
    background-image: linear-gradient(to right, #085078 0%, #85D8CE  51%, #085078  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border: none;
    text-transform: uppercase;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

 button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 
           
  #snap-btn {
    background-image: linear-gradient(to right, #e9d362 0%, #333333  51%, #e9d362  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  #snap-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
#p_icon
{
    font-size: 38px;
}